@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
}

:root{
   --skyblue-color: rgb(1, 172, 253);
   --orange-color: rgb(254, 163, 1);

   --dark-color: rgb(17, 17, 17);
   --white-color: rgb(255, 255, 255);
   
   --lightblue-color: rgb(5, 212, 223);
   --neonblue-color: rgb(93, 88, 239);

   --limerick-color: rgb(149, 178, 38);
   --Turquoise-color: rgb(60, 216, 232);

 }

 html {
    scroll-behavior: smooth;
 }

   /* Mobile Screen - 1366px */
   @media screen and (max-width: 1366px) {

    body {
      overflow-x: hidden;
    }
      
      .padding {
          padding: 1.5rem 8rem;
      }
  
      .btn-primary {
          font-size: 1rem;
          font-weight: 500;
          padding: 0.6rem 1rem;
          border-radius: .5rem;
          border: none;
          color: var(--white-color);
          background-color: var(--orange-color);
      }
  
      .navbar-section {
  
      }
  
      .hero-section {
        padding-top: 0rem ;
  
        .banner-container {
  
          .banner-content {
            width: 80%;
  
            .banner-title {
              font-size: 3.5rem;
            }
  
            .banner-text {
              font-size: 1.1rem;
              line-height: 1.5;
              margin-bottom: .5rem;
            }
  
            .btn-primary {
              padding: .8rem 2rem;
              font-size: 1.1rem;
            }
          }
  
          .banner-image {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

  
            img {
              width: 100%;
            }
  
          }
        }
  
      }
  
  
   }

 
  /* Mobile Screen - 834px */
  @media screen and (max-width: 834px) {

    body {
      overflow-x: hidden;
    }
      
      .padding {
          padding: 1.5rem 2rem;
      }
  
      .btn-primary {
          font-size: 1rem;
          font-weight: 500;
          padding: 0.6rem 1rem;
          border-radius: .5rem;
          border: none;
          color: var(--white-color);
          background-color: var(--orange-color);
      }
  
      .navbar-section {
        border-bottom: 1px solid var(--orange-color);
  
        .navbar-logo {
  
          .logo {
  
            .logo-name {
              display: none;
            }
          }
        }
  
        .nav-menu {
          display: none;
        }
  
        .nav-icons {
  
          .btn-primary {
            display: none;
          }
  
          .menu-icon {
            display: block;
          }
        }
  
      }
  
      .hero-section {
  
        .banner-container {
          padding: 1.2rem;
          gap: 1rem;
          flex-direction: column-reverse;
  
          .banner-content {
            text-align: center;
            width: 100%;
  
            .banner-title {
              font-size: 3rem;
            }
  
            .banner-text {
              font-size: 1.4rem;
              line-height: 1.5;
              margin-bottom: 1rem;
            }
  
            .btn-primary {
              padding: 1rem 2.5rem;
              font-size: 1.4rem;
            }
          }
  
          .banner-image {
            width: 60%;
  
            img {
              width: 100%;
            }
  
          }
        }
  
      }
  
  
   }

 /* Mobile Screen - 492px */
 @media screen and (max-width: 492px) {

  body {
    overflow-x: hidden;
  }
    
    .padding {
        padding: 1rem 1rem;
    }

    .btn-primary {
        font-size: 1rem;
        font-weight: 500;
        padding: 0.6rem 1rem;
        border-radius: .5rem;
        border: none;
        color: var(--white-color);
        background-color: var(--orange-color);
    }

    .navbar-section {
      border-bottom: 1px solid var(--orange-color);

      .navbar-logo {

        .logo {

          .logo-name {
            display: none;
          }
        }
      }

      .nav-menu {
        display: none;
      }

      .nav-icons {

        .btn-primary {
          display: none;
        }

        .menu-icon {
          display: block;
        }
      }

    }

    .hero-section {

      .banner-container {
        padding: 1.2rem;
        gap: 1rem;
        flex-direction: column-reverse;

        .banner-content {
          text-align: center;
          width: 100%;

          .banner-title {
            font-size: 2.7rem;
          }

          .banner-text {
            font-size: 1.1rem;
            line-height: 1.5;
          }

          .btn-primary {
            padding: 1rem 2.5rem;
            font-size: 1.4rem;
            margin-top: 1rem;
          }
        }

        .banner-image {
          width: 100%;

          img {
            width: 100%;
          }

        }
      }

    }


 }




