@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
}

:root{
   --skyblue-color: rgb(1, 172, 253);
   --orange-color: rgb(254, 163, 1);

   --dark-color: rgb(17, 17, 17);
   --white-color: rgb(255, 255, 255);
   
   --lightblue-color: rgb(5, 212, 223);
   --neonblue-color: rgb(93, 88, 239);

   --limerick-color: rgb(149, 178, 38);
   --turquoise-color: rgb(60, 216, 232);

   --mayaBlue-color: rgb(100, 200, 255);

 }

 html {
    scroll-behavior: smooth;
 }

 .orange {
    color: var(--orange-color);
 }

.skyBlue {
    color: var(--skyblue-color);
 }

.mayaBlue {
    color: var(--mayaBlue-color);
 }

.neonBlue {
    color: var(--neonblue-color);
 }



 .padding {
    padding: 1rem 8rem;
 }

 .no-padding {
    padding: 0;
 }

 .btn-primary {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 2.5rem;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--orange-color);
  transition: all .5s ease;

  &:hover {
    background-color: var(--limerick-color);

  }
 }

 .date-badges {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  border-radius: 5rem;
  border: none;
  color: var(--white-color);
  background-color: var(--turquoise-color);
 }

 .date-badges-small {
  font-size: .9rem;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border-radius: 5rem;
  border: none;
  color: var(--white-color);
  background-color: var(--turquoise-color);
 }

 li, a {
  list-style: none;
  text-decoration: none;
  color: var(--dark-color);
 }

 .hide {
  display: none;
 }

 .flex {
  display: flex;
 }


  /* navbar style start  */

 .navbar-section{
  padding-bottom: 0;


    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);

    .logo {
      display: flex;
      align-items: center;
      font-size: .6rem;
      font-weight: 600;
      gap: .5rem;
      text-transform: uppercase;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        a {
            font-size: 1.1rem;
            font-weight: 500;
          }

            .menu-1 {
              color: var(--orange-color);
            }
            .menu-2 {
              color: var(--skyblue-color);
            }
            .menu-3 {
              color: var(--lightblue-color);
            }
            .menu-4 {
              color: var(--neonblue-color);
            }
      }
    
    .nav-icons{
      display: flex;
      align-items: center;
      justify-content: center;

      .menu-icon {
        display: none;
        font-size: 3rem;
        color: var(--orange-color);
      }
    }
  }

  /* navbar style end  */


  /* Hero-section style start  */
  
  .hero-section {
    min-height: 90vh;
    
    .banner-container {
      align-items: center;
      justify-content: center;
      gap: 4rem;
      
      .banner-content {
        width: 50%;

        .banner-title {
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2;
        }

        .banner-text {
          font-size: 1rem;
          line-height: 1.5;
          padding: 1rem 0 3rem 0;

        }

        .btn-primary {

          background-color: var(--dark-color);
          transition: all .5s ease;

          &:hover {
            background-color: var(--limerick-color);
        
          }

        }
      
      }

      .banner-image {

        img {
          width: 100%;
        }
      }

    }

  }
  
  /* Hero-section style end  */


  /* curriculum-section style start  */
  
  .curriculum-section{

    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;

    .curriculum-container {
      text-align: center;


    .curriculum-content {

      .curriculum-title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
      }

      .curriculum-text {
        font-size: 1rem;
        line-height: 1.5;
        width: 70%;
        margin: 1rem auto 3rem auto;
      }
    }

    .curriculum-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      .card {
        border-radius: 1rem;
        padding: 2.5rem 1rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        transition: transform .3s ease;
        cursor: pointer;

        &:hover {
          transform: translateY(-10px);
          
        }

        
        img {
          width: 40%;
        }
        .card-title {
          font-size: 1.2rem;
          font-weight: 700;
          padding: .8rem 0;
        }
        .card-text {
          font-size: .9rem;
          line-height: 1.6;
          padding: 0 0 .5rem 0;
        }

        .blank-btn{
          font-size: 1rem;
          font-weight: 500;
        }

      }

      .card-1{
        background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(222,245,255,1) 99%);
      }
      .card-2{
        background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255, 244, 220,1) 99%);
      }
      .card-3{
        background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(238, 225, 255,1) 99%);
      }

    }

    .move-btn {
      padding: 2rem 0;
      
      .move-left {
        width: 45px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--orange-color);
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
          transform: translate(-3px);
          background-color: var(--limerick-color);
        }
        
        i{
          font-size: 2rem;
          color: var(--white-color);
          transition: transform .3s ease;

          &:hover, .move-right {
            transform: scale(1.2);
          }
        }

        

      }

      .move-right {
        width: 45px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--orange-color);
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
          transform: translate(5px);
          background-color: var(--limerick-color);
        }

        i{
          font-size: 2rem;
          color: var(--white-color);
          transition: transform .3s ease;

          &:hover, .move-right {
            transform: scale(1.2);
          }
        }

      }
    }
  }

  }
  
  /* curriculum-section style end  */


  /* stories-section style start  */
  
  .stories-section {
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .stories-container {
      text-align: center;

        .stories-content {

          .stories-title {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.2;
          }

          .stories-text {
            font-size: 1rem;
            line-height: 1.5;
            width: 70%;
            margin: 1rem auto 1rem auto;
          }
        }

        .card-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          padding: 2rem 0;

          .card {
            position: relative;
            border-radius: 1rem;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            cursor: pointer;
            text-align: left;
            background-color: var(--white-color);
            overflow: hidden;
            
            img {
              width: 100%;
              height: auto;
              display: block;
              border-top-right-radius: 1rem;
              border-top-left-radius: 1rem;
            }

            .date-badges{
              position: absolute;
              bottom: 245px;
              left: 15px;
              transition: transform .3s ease;
              cursor: pointer;
              z-index: 10;

              &:hover {
                transform: translateX(15px);
              }
            }

            .date-badges-small{
              position: absolute;
              bottom: 110px;
              left: 15px;
              cursor: pointer;
              z-index: 10;
              transition: all .3s ease;

              .card, &:hover {
                transform: translateX(15px);
              }
            }

            .card-title {
              font-size: 1.5rem;
              font-weight: 700;
              padding: .8rem 2rem;
            }

            .card-text {
              font-size: 1rem;
              line-height: 1.6;
              padding: 0 2rem 2rem 2rem;
            }

          }

          .card-4side{
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            gap: 2rem;

            .card-2 {
              .card-title{
                font-size: 1rem;
                margin-top: 1.5rem;
                padding-left: 1rem;
              }

              .date-badges-small{
                background-color: var(--limerick-color);
              }
            }

            .card-3 {
              .card-title{
                font-size: 1rem;
                margin-top: 1.5rem;
                padding-left: 1rem;
              }
              .date-badges-small{
                background-color: var(--neonblue-color);
              }
            }

            .card-4 {
              .card-title{
                font-size: 1rem;
                margin-top: 1.5rem;
                padding-left: 1rem;

              }
              .date-badges-small{
                background-color: var(--neonblue-color);
              }
            }
            }

            .card-5 {
              .card-title{
                font-size: 1rem;
                margin-top: 1.5rem;
                padding-left: 1rem;

              }
              .date-badges-small{
                background-color: var(--limerick-color);
              }
            }
        }

        .view-all{
          padding: 2rem 0;

          .btn-primary {

            background-color: var(--dark-color);
            transition: all .5s ease;
  
            &:hover {
            background-color: var(--limerick-color);
            }
          }
        }

    
     }

    }

  /* stories-section style end  */
  

  /* footer-section style start  */
  
  .footer-section{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background-color: var(--skyblue-color);

    .footer-container {
      padding: 0 8rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      align-items: start;

      .footer-content {

        .navbar-logo {
          display: flex;
          align-items: center;
          font-size: .9rem;
          padding-bottom: 1rem;

          .logo-name {
            font-size: 2rem;
          }
        }

        .footer-text {
          font-size: 1rem;
          line-height: 1.5;
          text-align: justify;
        }
      }


      .nav-links {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .nav-title {
          font-size: 2.5rem;
          font-weight: 600;
          color: var(--white-color);
          padding-bottom: 1rem;

        }

        .nav-item {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .nav-link { 
            font-size: 1.1rem;
            color: var(--white-color);
          }
        }

      }

      .footer-social {

        .social-title {
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 1rem;
          color: var(--white-color);

        }

        .icon-link {
          display: flex;
          gap: 1rem;

          .social-link {
            width: 45px;
            aspect-ratio: 1;
            font-size: 1.5rem;
            color: var(--white-color);
            border: 1px solid var(--white-color);
            border-radius: 50%;
            transition: all .3s ease;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              transform : rotate(360deg);
              color: var(--orange-color);
            
          }
        }
      }
    }
  }
}  
  
  
  /* footer-section style end  */

